<h3>  Thanks for the game. </h3>
  Until next time, perhaps in Vegas ? ...

 <a href='/new_player'>Start over Rover</a>

 <h3> Please enter your name, so we may play, BLACKJack: </h3>
<form action='/new_player' method = 'post'>
	<input type ='text' name = 'player_name'/>
  </br>
	<input type ='submit' class = 'btn'/>
</form>

	








